﻿@font-face {
    font-family:"AllerDisplay";
    src:    url("./AllerDisplay.eot?")                format("eot"),
            url("./AllerDisplay.woff")                format("woff"),
            url("./AllerDisplay.ttf")                 format("truetype"),
            url("./AllerDisplay.svg#AllerDisplay")    format("svg");
    font-weight:normal;
    font-style:normal;
}
