@font-face {
    font-family:"MontserratMedium";
    src:   
     url("../fonts/MontserratMedium/MontserratMedium.eot?")                format("eot"),
    url("../fonts/MontserratMedium/MontserratMedium.woff")                format("woff"),
    url("../fonts/MontserratMedium/MontserratMedium.ttf")                 format("truetype"),
    url("../fonts/MontserratMedium/MontserratMedium.svg#MontserratBold")    format("svg");
    font-weight:normal;
    font-style:normal;
}
