@font-face {
    font-family:"GorditaBlack";
    src:   
     url("../fonts/GorditaBlack/GorditaBlack.eot?")                format("eot"),
    url("../fonts/GorditaBlack/GorditaBlack.woff")                format("woff"),
    url("../fonts/GorditaBlack/GorditaBlack.ttf")                 format("truetype"),
    url("../fonts/GorditaBlack/GorditaBlack.svg#GorditaBlack")    format("svg");
    font-weight:normal;
    font-style:normal;
}
