﻿@font-face {
    font-family:"ITCAvantGardeStd-Bk";
    src:    url("../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.eot?")                format("eot"),
            url("../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.woff")                format("woff"),
            url("../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.ttf")                 format("truetype"),
            url("../fonts/ITCAvantGardeStd-Bk/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk")    format("svg");
    font-weight:normal;
    font-style:normal;
}
